[Unit]
Description=Pavis daemon, audio visualization for pulseaudio and WLED devices

[Service]
ExecStart=/usr/local/bin/pavis-daemon
Restart=always

[Install]
WantedBy=default.target
